.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.headingWrapper h1 {
    color: #000;
    font-size: 55px;
    text-transform: capitalize;
    font-family: var(--font-b);
}

.headingWrapper h4 {
    color: #000;
    font-size: 30px;
    text-transform: capitalize;
    font-family: var(--font-r);
    line-height: inherit;
}

.inp input {
    width: 60%;
    margin-top: 50px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 20px;
    font-family: var(--font-r);
    color: black;
}

.inp input::placeholder {
    text-transform: capitalize;
}

.inp h5 {
    color: red;
    font-weight: 400;
    font-family: var(--font-r);
}

.imageCon {
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 40px 0;
}

.checkBox {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}